.combat * {
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    padding: 1px;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: inset 0px 0px 10px #bbb;
    font-size: .9em;
    width: 12em;
    margin: 3px;
}

.combatsep .selected {
    background-color: #372;
}

.combatsep {
    border-collapse: collapse;
    border-bottom: 4px solid #eee;
}

th.combat * {
    font-family: serif;
    font-style: italic;
    background-color: #32c;
    color: #eee;
}

th.combat input {
    width: 4em;
}

td.combat span {
    background-color: #32c;
    color: #eee;
}

td.combat select {
    background-color: #32c;
    color: #eee;
    width: 12.4em;
}

td.combat input {
    width: 4em;
}

td.combat option {
    border: 0px solid black;
    border-radius: 0px;
    box-shadow: none;
    display: block;
    width:100%;
}
